.main
  .top
    = render partial: "groups/top"

  .main__chat
    = render @messages
      


  .form
    = form_for [@group, @message], html:{class:'form__text-area'}do |f|
      = f.text_field :content,class: 'form__text-area__field', placeholder: 'type a message'
      .form__text-area__mask
        = f.label :image, class: 'form__text-area__mask__image'do
          = icon('fas', 'image', class: 'form__text-area__mask__image__icon')
          = f.file_field :image, class: 'form__text-area__mask__image__hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .main__form
  -#   .main__form__text-area
  -#     %input(type="text" class="text-area" placeholder="type to message")
  -#     .main__form__text-area__image
  -#       =link_to "#", class: "main__form__text-area__image--icon " do
  -#       %label{class:"side-ber__header__box__icon"}
  -#         = icon('far', 'image', class: "main__form__text-area__image__btn--icon")
  -#         %input{type: "file"}
  -#     .main__form__text-area__btn
  -#       %input(type="submit" class="main__form__text-area--btn" value="SEND")